.app {
    display: flex;

    .sideDrawer {
        flex-basis: 20%;
        padding: 1rem 3rem 2rem;
        box-shadow: 2px 0px 5px -3px #4e4e4e;
        position: sticky;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #ffffff;

        h4 {
            margin-bottom: 1.7rem;
        }

        form {
            min-width: 80%;

            label {
                color: #4e4e4e;
                margin: 0 5px;
            }

            .input,
            .textarea {
                margin-bottom: 0.8rem;
                min-width: 100%;
                border-radius: 5px;
                border: 1px solid #e7e7e7;
                padding: 0.5rem 0.8rem;

                &:focus {
                    outline: none;
                }
            }

            .input {
                height: 1rem;
            }

            .textarea {
                height: 3rem;
            }

            .checkbox {
                height: 1rem;
                margin-bottom: 1rem;
            }

            button {
                width: 100%;
                height: 30px;
                background-color: #f7c242;
                border-radius: 5px;
                border: 1px solid #e7e7e7;
                cursor: pointer;
                font-size: 1rem;
                transition: 0.4s;
                margin-bottom: 1rem;

                &:focus {
                    outline: none;
                }

                &:hover {
                    background-color: #fad689;
                }
            }
        }

        .btnGp {
            display: flex;
            justify-content: space-between;

            #removeBtn,
            #downloadBtn {
                flex-basis: 45%;
                width: 100%;
                height: 30px;
                background-color: #ed784a;
                border-radius: 5px;
                border: 1px solid #e7e7e7;
                cursor: pointer;
                font-size: 0.8rem;
                transition: 0.4s;
                color: #fff;

                &:focus {
                    outline: none;
                }

                &:hover {
                    background-color: #fab79d;
                }
            }

            #downloadBtn {
                background-color: #d75455;
            }
        }
    }

    .edmPreview {
        margin: 0 auto;
        padding: 2em;
    }
}
